<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Players</th>
      <th>Play Time</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% boardgames.forEach(function(b) { %>
      <tr>
        <td><img src="<%= b.image %>" alt="<%= b.name %>" class="index-img"></td>
        <td><%= b.name %></td>
        <td><%= `${b.minplayers}-${b.maxplayers}` %></td>
        <td><%= `${b.minplaytime}-${b.maxplaytime}` %></td>
        <td><a href="/boardgames/<%= b._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>
