<%- include('../partials/header') %>

<section id="show-page">
  <div>Name: </div>
  <div><%= boardgame.name %></div>
  <div>Year Published: </div>
  <div><%= boardgame.yearpublished %></div>
  <div>Min Players: </div>
  <div><%= boardgame.minPlayers %></div>
  <div>Max Players: </div>
  <div><%= boardgame.maxPlayers %></div>
  <div>Min Age: </div>
  <div><%= boardgame.minAge %></div>
  <div>Max Age: </div>
  <div><%= boardgame.maxAge %></div>
</section>

<hr>

<% if (boardgame.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Review</th>
        <th>Rating</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% let totalRating = 0 %>
      <% boardgame.reviews.forEach(function(r) { %>
        <% totalRating += r.rating %>
        <tr>
          <td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><%= r.userName %></td>
          <td><%= r.content %></td>
          <td><%= r.rating %></td>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td>
            <% if (user?._id.equals(r.user)) { %>
              <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                <button type="submit">&#128465;</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }); %>
      <tr>
        <td colspan="2"></td>
        <td><strong><%= (totalRating / boardgame.reviews.length).toFixed(1) %></strong></td>
      </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>

<hr>

<br><br><h2>Reviews</h2>
<% if (user) { %>
  <form id="add-review-form" method="POST"
    action="/boardgames/<%= boardgame._id %>/reviews">
    <label>Review:</label>
    <textarea name="content"></textarea>
    <label>Rating:</label>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3" selected>3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input type="submit" value="Add Review">
  </form>
<% } %>

<hr>

<h2>Listings</h2>
<% if (listing.length) { %>
  <table>
    <thead>
      <tr>
        <th>Name:</th>
        <th>Price:</th>
        <th>Condition:</th>
        <th>Date Listed:</th>
      </tr>
    </thead>
    <tbody>
      <% listing.forEach(function(l) { %>
        <tr>
          <td><%= l.name %></td>
          <td><%= l.price %></td>
          <td><%= l.condition %></td>
          <td><%= l.dateListed %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %> 
  <h5>No Listings Yet</h5>
<% } %>
<a href="/boardgames/<%= boardgame.id %>/listings/new">Add New Listing</a>


<%- include('../partials/footer') %>
